
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Vue Project</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <link rel="stylesheet" href="stylesheet.css">
    
</head>
<body>
    <h1>Hi vue</h1>

    <div id="app">
        <h2 class="headline"> I am the template</h2>
        <div v-if="showBooks"> 
                <p>{{ title }} - {{author}} - {{age}} </p>
            
        </div>
        <button @click="ToggleShowBooks">
            <span v-if="showBooks">hide books</span>
            <span v-if="!showBooks">show books</span>

        </button>

        <button v-on:click="age++">Increase age</button>
        <button v-on:click="age--">decrease age</button>
        <div @click="changeTitle">Change title</div>
    </div>
    <script src="appTest.js"></script>

</body>
</html>
